.form-container {
  width: 400px;
  margin: 200px auto 0;
  border: solid 2px green;
}
.form-field {
  display: block;

}

.container-actions {
  width: 100px;
  margin-left: 170px;
}

mat-card-title {
  color: green;
  font-weight: bold;
}

.button-login {
  background-color: green;
}

.register-text {
  margin-left: 23%;
  color: grey;
}
.register-a {
  color: green;
}

